/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  ul, li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: black;
  }

body {
    
}

nav {
    display: flex;
    justify-content: space-around;

    max-width: 800px;
    margin: 20px auto;
}
    nav button:hover {
        cursor: pointer;
    }

.hero {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(./images/5.jpg);
    background-size: cover; /* Scales image to fit */
    background-repeat: no-repeat;
    background-position: center;
    min-height: 600px;
    max-width: 1800px;
    margin: 0 auto;
}
    .hero h1 {
        color: white;
    }

.second {
    display: flex;

}
    .text-content{
        flex: 1;
    }
    .image-content {
        flex:1;
    }