/* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  ul, li, ol {
    padding-left: 0;
    list-style: none;
  }
  a {
    text-decoration: none;
    color: black;
  }

/* Own CSS Start*/
@font-face {
    font-weight: 400;
    font-family: briar;
    src: url(./font/Briar\ Display.otf);
}

@font-face {
    font-family: satoshi;
    font-weight: 200 900;
    src: url(./font/Satoshi-Variable.woff2);
}

body {
    background-color:rgb(255, 255, 255);
}

header {
    display: flex;
    padding: 20px 60px;
    max-height: 90px;
}
    .logo {
        flex: 1;
    }
    .logo img {
        height: 100%;
    }

    .navigations {
        flex: 1;
        gap: 60px;
        display: flex;
        justify-content: flex-end;
    }
    .nav {
        border: none;
        font-size: 18px;
        background: none;
        font-weight: 500;
        color: rgb(29, 36, 29);
        transition: all ease 0.3s;
    }
    .nav:hover {
        cursor: pointer;
        transform: translateY(-3px);
    }
    .nav.active {
        color: rgb(74, 91, 74);
    }
    .mobile-menu-button {
      display: none;
      justify-content: center;
      align-items: center;
    }
    #menu-button {
      background: none;
      border: none;
      min-width: 32px;
    }
    #mobile-menu {
        display: none;
        flex-direction: column;
        justify-content: space-between;

        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        padding: 40px;
        color: white;
        background: rgb(111, 121, 111);
    }
    #mobile-menu a {
        font-size: 38px ;
    }
    #mobile-menu .close-button {
        display: flex;
        justify-content: end;
    }
    .close-button svg {
        max-width: 32px;
    }

.hero {
    background-image: url(./images/hero3.jpg);
}

.heading {
    background-image: url(./images/2.jpg);
}

.about.heading {
    background-image: url(./images/1.jpg);
}


.hero, .heading {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    min-height: 900px;
    background-size: cover; /* Scales image to fit */
    background-position: center;
    background-repeat: no-repeat;
}
    .hero h1 {
        color: rgb(255, 255, 255);
        font-size: 94px;
        text-align: center;
        padding-bottom: 148px;
        text-shadow: 0px 6px 18px rgba(28, 28, 28, 0.6);
        font-family: briar;
    }
    .heading h1 {
        color: white;
        font-size: 48px;
        
    }

/* Empty white space for each section */
.plate-container, .menu, .environment, .new-items, .reviews, .booking {
    padding: 120px 60px;
}

p, h1, h2, h3, a, button {
    font-family: satoshi;
}

p {
    /* Default font-weight */
    font-weight: 400;
}

h1, h2, h3 {
    font-weight: 500;
}

.big-text, .menu > .header, .environment > .header, .new-items > .header, .reviews > .header, .booking > .header {
    font-weight: 600;
}

.plate-container {
    gap: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
    .big-text {
        font-size: 8rem;
        text-align: center;
        color: rgb(29, 36, 29);
    }
    .plate-container > .image-section {
        display: flex;
    }
    .center-plate {
        max-width: 540px;
    }   
    .plate-container p {
        font-size: 22px;
        text-align: center;
        color: rgb(52, 52, 52);
    }
    .plate-container > a {
        cursor: pointer;
        font-size: 16px;
        background: none;
        font-weight: 600;
        color: rgb(46, 46, 46);
    }
    .plate-container > a:hover {
        color: rgb(85, 85, 85);
    }

/* Home page menu */

    .menu .header {
        font-size: 48px;
        text-align: center;
        color: rgb(29, 36, 29);
    }    
    .menu ul {
        gap: 40px;
        display: flex;
        flex-wrap: wrap;
    
        margin-top: 60px
    }
    .menu-list > li {
        flex: 1;

        padding: 20px;
        min-width: 280px;
        border-radius: 18px;
        border: 2px solid rgb(62, 84, 62);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .menu-list > li:hover {
        cursor: pointer;
        transform: translateY(-10px);
        box-shadow: 0 12px 20px rgba(0,0,0,0.1);
    }
    .menu-list > li > img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 14px;
    }
    .menu-list > li > p {
        font-size: 22px;
        margin-top: 12px;
        color: rgb(31, 31, 31);
    }

/* Home page environment */

    .environment .header {
        font-size: 48px;
        text-align: center;
        color: rgb(29, 36, 29);
    }

    .environment .text {
        margin: 0 auto;
        font-size: 22px;
        max-width: 800px;
        text-align: center;
        margin-bottom: 60px;
    }
    .environment .img-environment {
        width: 100%;
        height: 680px;
        object-fit: cover;
        border-radius: 40px;
    }

/* Home page new items */

    .new-items  .header {
        font-size: 48px;
        text-align: center;
        margin-bottom: 60px;
        color: rgb(29, 36, 29);
    }
    .new-items > .items-container {
        gap: 100px;
        display: flex;
    }
    .items-container > .section {
        flex: 1;
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .new-item-img {
        width: 100%;
        height: 720px;
        object-fit: cover;
        border-radius: 260px;
    }
    .item-content > h2 {
        font-size: 38px;
        margin-bottom: 16px;
        border-bottom: 2px solid rgb(62, 84, 62);
    }
    .item-content > p {
        font-size: 22px
    }

/* Home page reviews */

    .reviews > .header {
        font-size: 48px;
        text-align: center;
        color: rgb(29, 36, 29);
    }

    .reviews > .text {
        margin: 0 auto;
        font-size: 22px;
        max-width: 800px;
        text-align: center;
        margin-bottom: 60px;
    }
    .reviews-container {
        gap: 24px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .review {
        flex: 1;

        padding: 24px;
        color: white;
        min-width: 300px;
        min-height: 240px;
        border-radius: 24px;
        background-color: rgb(64, 84, 62);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .review:hover {
        transform: translateY(-10px);
        box-shadow: 0 12px 20px rgba(0,0,0,0.1);
    }
    .review > .review-text {
        font-size: 18px;
        padding-bottom: 60px;
    }
    .review > .reviews-occupation {
        color: rgb(238, 238, 238);
    }


/* Home page bookings */

    .booking .header {
        font-size: 48px;
        text-align: center;
        color: rgb(29, 36, 29);
    }

    .booking .text {
        margin: 0 auto;
        font-size: 22px;
        max-width: 800px;
        text-align: center;
    }
    .booking > button {
        display: block;
        margin: 0 auto;
        margin-top: 60px;
        border: none;
        font-size: 18px;
        min-width: 140px;
        min-height: 48px;
        margin-top: 24px;
        border-radius: 40px;
        color: rgb(255, 255, 255);
        background-color: rgb(62, 84, 62);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .booking > button:hover {
        cursor: pointer;
        transform: translateY(-4px);
        box-shadow: 0 12px 20px rgba(0,0,0,0.1);
    }

.footer {
    display: flex;
    justify-content: space-between;

    padding: 10px 60px;
    color: rgb(62, 84, 62);
}
    .socials {
        gap: 20px;
        display: flex;
    }
    .socials > a {
        color: rgb(62, 84, 62)
    }

/* Menu page and About page */

.menu-container, .about-container {
    padding: 0 60px;
}
    .menu-type-container {
        padding: 40px 0;
    }
    .menu-type-container > .menu-type-name {
        font-size: 68px;
        border-bottom: solid 4px rgb(62, 84, 62);
    }
    .foods-container {
        gap: 20px;
        display: flex;
        flex-wrap: wrap;

        margin-top: 40px;
    }
    .food {
        flex: 1;

        padding: 20px;
        min-width: 300px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .food-price {
        margin-top: 20px;
    }
    .food-desc{
        font-size: 18px;
    }

.about-section {
    padding: 120px 0;
}

.about-section.story h1, .about-section.commitment h1, .about-section.farm h1 {
    font-size: 48px;
    text-align: center;
}
.about-section.story p, .about-section.commitment p, .about-section.farm p {
    margin: 0 auto;
    font-size: 22px;
    max-width: 1000px;
    text-align: center;
}

.about-section.members > h1 {
    font-size: 48px;
    text-align: center;
}
.about-section.members > p {
    font-size: 22px;
    text-align: center;
}

.members-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 60px 0;
}
    .member {
        /* flex : 1; */
        width: 280px;
    }
    .member img{
        width: 100%;
        height: 360px;
        object-fit: cover;
    }
    .member h2{
        margin-top: 18px;
    }

.about-section .farm-image {
    width: 1080px;
    height: 580px;
    object-fit: cover;
    margin: 0 auto;
}
    .about-section.farm h1 {
        margin-top: 48px
    }


.about-footer {
    padding: 0 60px;
}
.about-footer > .footer-top {
    display: flex;
    justify-content: space-between;
    
    margin: 68px 0;
    color: rgb(62, 84, 62)
    }
    .container-location p:first-child {
        font-size: 28px;
    }
    .container-location p:last-child {
        font-size: 18px;
    }
    .container-opentime p:first-child {
        font-size: 28px;
        text-align: end;
    }
    .container-opentime p:last-child {
        font-size: 18px;
        text-align: end;
    }

.about-footer > .footer-bottom {
    display: flex;
    justify-content: space-between;
    
    margin: 16px auto;
    color: rgb(62, 84, 62)
    }

/* @media screen and (max-width: 1770px){
    
} */

@media screen and (max-width: 1400px){
    .big-text {
        font-size: 8rem;
    }
    .image-section img:first-of-type,
    .image-section img:last-of-type {
        display: none;
    }
}

@media screen and (max-width: 940px){
    .big-text {
        font-size: 4rem;
    }
    .members-container {
    gap: 60px;
}
}

@media screen and (max-width: 720px){
    .hero h1 {
        font-size: 68px;
    }
    .plate-container {
        padding: 90px 24px;
    }
}

@media screen and (max-width: 600px){
    header {
        padding: 20px 28px;
    }
    .logo {
        font-size: 18px ;
    }
    .navigations {
        display: none;
        gap: 20px;
    }
    .nav {
        font-size: 18px ;
    }
    .mobile-menu-button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .image-section img {
        max-width: 360px;
    }
    .big-text {
        font-size: 2.4rem;
    }
    .new-items > .items-container {
        gap: 80px;
        flex-direction: column;
    }

    .menu-container, .about-container {
        padding: 0 24px;
    }
    .menu-type-container > .menu-type-name {
        font-size: 54px;
    }
    
    .about-footer {
    padding: 0 24px;
    }

    .environment .img-environment {
        height: 480px;
    }
    .menu, .environment, .new-items, .reviews, .booking {
        padding: 80px 24px;
    }
    .menu-list > li > img {
        height: 360px;
    }
    .footer {
    padding: 14px 24px;
}
}