/* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  ul, li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: black;
  }

/* Own CSS */
body {
    background-color:rgb(255, 247, 235)
}

nav {
    display: flex;
    justify-content: space-around;

    max-width: 800px;
    margin: 20px auto;
}
    nav button:hover {
        cursor: pointer;
    }

.hero {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(./images/5.jpg);
    background-size: cover; /* Scales image to fit */
    background-repeat: no-repeat;
    background-position: center;
    min-height: 680px;
    max-width: 1800px;
    margin: 0 auto;
}
    .hero h1 {
        color: white;
        font-size: 48px;
    }

.second {
    display: flex;

    max-width: 1800px;
    margin: 0 auto;

}
    .text-content{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        font-size: 24px;
    }
    .second-button {
        font-size: 18px;
        max-width: 130px;
        min-height: 48px;
        margin-top: 24px;
        border: none;
        border-radius: 40px;

        background-color: rgb(62, 84, 62);
        color: rgb(255, 255, 255);
    }
    .image-content {
        flex:1;
    }